h1{
    text-align: center;
}

.box1{
    margin-left: 10%;
    background-color: blue;
    color: white;
    border: 2px solid black;
    padding: 1%;
    width: 80%;
    display: inline-block;
    text-align: center;
}

.p1{
    text-align: center;
}

form {
    font-family: Arial, sans-serif;

}


input[type="Ftext"], select {
    width: 600px;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}

select {
    width: 60px !important;
    padding: 5px;
    border-radius: 5px;
}

#places-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.middle-name-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.middle-name-label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.no-middle-name {
    display: flex;
    align-items: center;
    gap: 5px;
}

.no-middle-name label {
    font-size: 13px;
}

input[type="text"], select {
    width: 709px;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin: 5px 0;
    border-radius: 5px;
}

input[type="date"] {
    width: 709px;
    padding: 5px;
    border-radius: 5px;
}

.national-id-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.right-text {
    font-size: 16px;
    opacity: 0.6
}

.button1{
    width: 100%;
    height: 60px;
    margin-left: 0%;
    background-color: blue;
    color: white;


}

.form-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    padding-left: 20%; 
}

form {
    width: 60%;
    margin-left: 10%; 
}